/*PC*/
@media (min-width: 1024px) {}

/* tablet $ mobile */
@media (max-width: 1023px) {
.place-btn {
    padding: 15px 16px;
}
#nav .subnav a {
    padding: 5px 12px;
}

.contact-from .from-control {
    padding: 15px;
}
.footer-list {
    font-size: 32px;
}

.footer-list a {
    padding: 0 6px;
}

.copy-right  {
    display: inline-block;
}
}
/*tablet*/
@media (min-width: 740px) and (max-width:1023px) {
    .contact-info {
        line-height: 2;
    }

}

/*mobile*/
@media (max-width: 740px) {

    #nav,
    #nav>li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #000;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

   
    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .member-img {
        width: 60%;      
    }
    .s-full-width,
    .s-col-full {
        width: 100%!important;
    } 
    .contact-from {
        margin-top: 32px;
    }

    .s-mt-8 {
        margin-top: 8px!important;
    }
    .contact-from .from-control {
        margin-top: 16px;
    }

}